---
# This workflow is to build images that themselves are based on the base images.
# Accordingly, it should be run after the build of the base images.
name: Build and Deploy complex Ubuntu images
on:
  workflow_run:
    workflows: ["Build and Deploy Ubuntu images"]
    types:
      - completed
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'ubuntu/**'
      - 'pack.sh'
      - 'base/ubuntu/**'

jobs:
  build_and_deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    env:
      ANSIBLE_VERSION: 2.15.5
    strategy:
      fail-fast: false
      matrix:
        update_base_components:
          - true
          - false
        image:
          - ubuntu/jammy-nginx
          - ubuntu/noble-nginx
        exclude:
          - update_base_components: false
            image: ubuntu/noble
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install specific ansible-core version
        run: pip install ansible-core==${{ env.ANSIBLE_VERSION }}
      - name: Debug ansible version
        run: ansible-playbook --version
      - name: Install ansible dependencies
        run: ansible-galaxy collection install -r requirements.yml
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        id: build-image
        run: BUILD_BASE_IMG=false IMG=${{ matrix.image }} UPDATE_BASE_COMPONENTS=${{ matrix.update_base_components }} ./pack.sh docker
      - name: Get image name and tag # grep in the image directory's variables file to find the image name/tag to push to
        id: get-image-name
        run: |
          echo "container_repo=`grep container_repo ${{ matrix.image }}/variables.auto.pkrvars.hcl | awk '{print $3}'`"  >> "$GITHUB_OUTPUT"
      - name: Push image
        run: docker push ${{ steps.get-image-name.outputs.container_repo }}${{ matrix.update_base_components && '-pilot' || '' }}
